@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
	font-family: 'Uni Sans Heavy Caps';
	src: url('../fonts/uni-sans.heavy-caps.eot');
	src: local('☺'), url('../fonts/uni-sans.heavy-caps.woff') format('woff'), url('../fonts/uni-sans.heavy-caps.ttf') format('truetype'), url('../fonts/uni-sans.heavy-caps.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}